*.egg-info/
/.venv/
/.ruff_cache/

__pycache__/

# UI files compiled from blueprint
*.ui
# Compiled GIO resource files
*.gresource
# Translated metainfo file in resources
**/resources/metainfo.xml
# Generated app ID file
**/app-id.txt
