*.egg-info/
/.venv/
/.ruff_cache/

__pycache__/

# Built distributions and other built artifacts
/dist/

# UI files compiled from blueprint
*.ui
# Compiled GIO resource files
*.gresource
# Translated metainfo file in resources
**/resources/metainfo.xml

# Flatpak repo for use by poe tasks in pyproject.toml
/.flatpak-repo
